root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4

raw_data: {"cin":"123456789012","nom_demandeur":"RAKOTO","prenom_demandeur":"Jean","date_naissance":"1990-01-15","occupation":"Agriculteur"}